<!DOCTYPE html>
<html ng-app='whiteboard'>
 <head>
  <link rel='stylesheet' href='css/boardstyle.css'>
 </head>
<body>
  
  <div class='whiteboard container'>
    <div class='toolbar' ng-controller='toolbar'>
        <div class='btn-erase' ui-sref="eraser" ng-click="changePen('eraser')"></div>
        <div class='pens'>
          <div class='palette'>
            <input type="checkbox" value="None" id="black" name="check" ng-click="changePen('black')"/>
            <label for="black"></label>
          </div>
      </div>
        <button class='btn-tool btn-undo'>Undo</button>
    </div> 
    <!-- render this in ng-view probably -->
    <div class='board-frame'>
      <canvas id='whiteboard' width='830px' height='590px' ng-controller='canvas'>
      </canvas>
    </div>
  </div>
</div>

</body>

<!-- <script src="lib/jquery/dist/jquery.min.js"></script> -->
<!-- <script src='public/lib/jquery-ui/jquery-ui.min.js'></script> -->
<script src="lib/angular/angular.js"></script>
<!-- <script src="lib/angular-route/angular-route.js"></script> -->
<!-- <script src="lib/angular-dragdrop/src/angular-dragdrop.min.js"></script> -->

<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<script src="lib/jquery.event.drag-2.2.js"></script>

<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src='whiteboard.js'></script>
</html>
